extends view_components/layout.pug

block main-body
    div.row
        div.col-6-12
            div.row
                h2 My Projects
            div.row
                table#userProjects
                    thead
                        tr
                            th Project Name
                            th Access Level
                            th Last Modified
                            th Last Modified By
                            th Options
                    tbody
        div.col-6-12
            div.row
                h2 Create a New Project
            div.row
                h3 Project Name:
            div.row
                input(id="newProjectName" type="text")
            div(id="templates").row
                h3 Templates
                button(id="createNewProject") No Template

    input(id="userID" type="hidden" value=user.id)

    script(src='/js/script_admin.js')