extends view_components/layout.pug

block main-body

    div(class="content")
        include view_components/editcontent.pug
    
    div.row
        div.col-12-12
            h2 Project Content History
            table
                colgroup
                    col(width="10%")
                    col(width="20%")
                    col(width="40%")
                    col(width="20%")
                    col(width="10%")
                thead
                    tr
                        th Commit ID
                        th Date
                        th Changes
                        th Made By
                        th Options
                tbody(id="projectContentHistory")

    include view_components/editproject_all.pug

    script(src='/js/script_content.js')
    script(src='/js/script_console.js')