html {
    overflow-y: scroll;
}
body, #adminPanel > div, #modalElements > div {
    background-color: #FFF;
}
.profileImage {
    width: 50px;
    vertical-align: bottom;
    height: auto;
}
header {
    background-color: black;
    color: white;
}
nav button {
    width: 25%;
    padding: 1%;
}
#collaborator_view.hidden * {
    visibility: hidden !important;
}
body {
    margin: 0;
    padding: 0;
}
h1 {
    margin: 1% 0;
}
textarea {
    display: block;
    width: 100%;
    min-height: 200px;
    background-color: white;
    color: black;
}
table {
    width: 100%;
    border-collapse: collapse;
}
#projectStructure, #projectContent {
    min-height: 50vh;
    overflow-y: scroll;
}
th {
    text-align: left;
}
button {
    cursor: pointer;
}
#projectCollections {
    margin-left: -15%;
    padding-top: 11%;
    width: 100%;
}
#projectCollections button, #templates button {
    border: 1px solid white;
    display: block;
    width: 100%;
    color: white;
}
#projectCollections button {
    padding: 7% 1%;
    background-color: grey;
}
#templates button {
    padding: 3%;
    background-color: black;
    text-align: left;
}
#adminPanel {
    position: relative;
}
#projectCollectionsContent .collection, #adminPanel > div{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#projectContent, table, td, th {
    border: 1px solid #aaa;
}
#projectCollectionsContent {
    min-height: 40vh;
}
.item-container {
    padding: 1% 0;
}
input[type="file"] ~ img, #imagePreviewContainer img {
    width: 100px;
    height: auto;
    vertical-align: top;
}
#imagePreviewContainer {
    position: absolute;
    width: 30%;
    max-height: 300px;
    border: 2px solid #000;
    overflow-y: scroll;
    z-index: 100 !important;
}
#imagePreviewContainer .images {
    padding: 2%;
}

#modalElements > div {
    background-color: #FFF;
    position: absolute;
    right: 50px;
    top: 120px;
    z-index: 10;
}

.wysiwygInput {
    border: 1px solid #000;
    height: 200px;
    overflow-y: scroll;
}

.admin .wysiwygInput {
    height: 100px;
}

#closeImagePreviewContainer {
    position: absolute;
    top: 5px;
    right: 5px;
}

/* Visible */
.hidden {
    visibility: hidden !important;
}
.visible {
    visibility: visible !important;
}
.active {
    background-color: black !important;
    color: white;
    outline-color: transparent;
}
.selected {
    background-color: #a9a9a9;
}

/* FOOTER */
footer {
    text-align: center;
}

/* Dragging */
[draggable="true"]:before {
    content: "...";
}

/* ALIGN */
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.alignRight {
    float: right;
}

/* GRID */
.row {
    display: block;
    overflow: auto;
    margin: 0 0 1% 0;
    padding: 0.5% 1%;
}
[class*="col-"]{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: text-top;
    padding: 0 1%;
}
.col-1-12 {width: 8%;}
.col-2-12 {width: 16%;}
.col-3-12 {width: 25%;}
.col-4-12 {width: 33%;}
.col-5-12 {width: 42%;}
.col-6-12 {width: 50%;}
.col-7-12 {width: 58%;}
.col-8-12 {width: 67%;}
.col-9-12 {width: 75%;}
.col-10-12 {width: 83%;}
.col-11-12 {width: 88%;}
.col-12-12 {width: 100%;}