.profileImage {
    width: 70px;
    height: auto;
}

textarea {
    display: block;
}

#projectStructure {
    min-height: 50vh;
    width: 100%;
}

/* FOOTER */
footer {
    text-align: center;
}

.col-2 {
    display: inline-block;
    width: 48%;
    box-sizing: border-box;
    vertical-align: text-top;
    margin-right: 1%;
}