if userDisplayName
    h1 Dear #{userDisplayName}
else
    h2 #{userEmail}
p You have been removed as a collaborator on '#{projectName}'
p If you did not make this change, or feel it was made in error, please contact the administrator of the project to re-invite you using the appropriate email address.