html
    head
        title Content Developer
            if pageTitle != undefined
                |  | #{pageTitle}
        link(rel="stylesheet" type="text/css" href="/css/stylesheet.css")
    body
        header