.sidenav .type {
    font-size: 10px;
    display: inline-block;
    width: 42px;
    text-align: center;
}
.sidenav > li > a {
    display: inline;
}
.sidenav {
    position: static;
    top: 0;
}
#sidenav {
    width: 300px;
    position: fixed;
    height: 100vh;
    overflow-y: scroll;
}
#content {
    width: 100%;
    margin-left: 330px;
}
#sidenav, #content {
    display: inline-block;
}
#sidenav.miniNav {
    padding: 0;
    top: 0;
    overflow-y: hidden;
}
.sidenav, .sidenav-search {
    width: 100%;
}
.sidenav-search {
    position: relative;
}
.sidenav > li.active > a, #miniNav > li.active > a, #miniNav > li.isactive > a {
    background-color: #337ab7;
    color: #ffffff;
}

.subNav .active > a {
    background-color: #6597c1;
    color: #ffffff;
}

.subSubNav .active > a {
    background-color: #8aaac5;
    color: #ffffff;
}
.subNav, .subSubNav {
    display: none;
}

.subNav a, .subSubNav a {
    display: block;
    text-decoration: none;
}
.subNav a {
    padding-left: 40px;
}
.subSubNav a {
    padding-left: 70px;
}
.subNav, .subSubNav {
    list-style: none;
    padding: 0;
}

#miniNav {
    background-color: #ffffff;
}

#miniNav .active .subNav, .subNav .active .subSubNav {
    display: block;
}

pre {
    tab-size: 3;
    white-space: pre-wrap;
}

.fullSize {
    width: 100%;
}
figcaption {
    text-align: center;
    font-style: italic;
}
#examples figure {
    width: 49%;
    display: inline-block;
}
#examples img {
    width: 100%;
}
#examples h2 {
    display: inline-block;
}
#examples img.small {
    width: 50%;
}
#examples li img {
    float: right;
    margin-bottom: 2%;
}
#examples ul, #examples li, pre, h3 {
    clear: both;
}
.docButton, .docButton:active, .docButton:hover {
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background-color: #1773a2;
    color: white;
    padding: 1% 4%;
}