extends ./../view_components/layout.pug

block main-body
    div.row
        h3 Admin Error

        if error.status || error.message
            h2 #{error.status} - #{error.message}
        if adminErrors
            ul
                each err in adminErrors
                    li #{err}