div.row
    div.col-2-12
        div(id="projectCollections")
    div.col-8-12
        //div(id="projectContent")
        div(id="projectCollectionsContent").row
    div.col-2-12.right
        button(id="updateProjectContent") Save All
        button(id="resetProjectContent") Reset All